/*font*/
/*font-family: 'Maven Pro', sans-serif;
font-family: 'Sunflower', sans-serif;*/

/*global css start*/
.pd-0 {
    padding-left: 0;
    padding-right: 0;
}

/*global css end*/

body {

}

* p {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Sunflower', sans-serif;
}

.logout>a {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    margin-top: 10px;
    background: #1d335d;
    color: #fff!important;
    border: none;
    border-radius: 4px;
    font-family: 'Maven Pro', sans-serif;
    transition: all .3s;

}
.logout>a:hover {
    background: #fff;
    color: #000!important;
    border: 2px solid #000;

}
/*index page */
.main-section {
    height: 100vh;
    overflow-x: hidden;
}

.main-left {
    background: #051d4ce6;
    color: #fff;
    height: 100vh;
    padding-right: 0;
}

.main-top {
    padding-top: 90px;
}

.main-top img {
    max-width: 120px;

}

.login-text {
    padding: 20px 10px;
}

.login-text h3 {
    font-size: 20px;
}

.tr-login input {
    margin-top: 15px;
    width: 270px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #101010;
    font-family: 'Maven Pro', sans-serif
}

.main-rt {
    background-image: url(../img/main-rt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding-left: 0;
}

.main-bottom {
    padding-top: 72px;
}

.main-bottom p {
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.05em;

}

.main-rt-img img {
    max-width: 130px;
    padding-top: 130px;
}

.main-rt-text {
    color: #fff;
    padding: 20px 60px;
}

.main-rt-text p {
    font-size: 17px;
}

/*login button*/
.draw-border {
    margin-top: 20px;
    margin-bottom: 40px;
    box-shadow: inset 0 0 0 4px #58afd1;
    color: #fff;
    transition: color 0.25s 0.0833333333s;
    position: relative;
}

.draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
}

.draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
}

.draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
}

.draw-border:hover {
    color: #ffe593;
}

.draw-border:hover::before, .draw-border:hover::after {
    border-color: #ffe593;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
}

.draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem "Roboto Slab", sans-serif;
    padding: 1em 4em;
    letter-spacing: 0.2em;
}

.btn:focus {
    outline: 2px dotted #55d7dc;
}

/*end main page*/

/*start report page*/
.navbar-brand {
    float: left;
    height: 60px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 60px;
}
.navbar-brand img {
    max-width: 70px;
}
.st-table {
    margin-top: 20px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    padding: 2px;
    border-radius: 1px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #3a3939b8;
}
.navbar {
    border: none;
    border-radius: 0;
}
.report-body {
    background: #051d4ce6;
}

.b-details {
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    text-align: center;
}

.b-details li {
    float: left;
    padding: 7px 20px;
    list-style: none;
    text-align: center;
    border: 1px solid #fff;
    margin-bottom: 8px;
    margin-right: 6px;
}

/* table*/
.st-table-data {
    width: 100%;
    padding: 10px;
}

tr:nth-of-type(odd) {
    background: #1d4c30a3;
}

tr:nth-of-type(even) {
    background: #484242bf;
}

th {
    background: #000000c9;
    color: white;
    font-weight: bold;
    font-family: 'Maven Pro', sans-serif;
}

td, th {
    padding: 8px;
    border: 1px solid #cccccc63;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
}

/*checkbox*/
.onoff {
    margin-left: -27px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    cursor: pointer;
    width: 60px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Maven Pro', sans-serif;
}

.onoff label {
    position: absolute;
    top: 0;
    left: 31px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #bb0000;
    border-radius: 5px;
    font-weight: bold;
    color: #FFF;
    font-family: 'Maven Pro', sans-serif;
    -webkit-transition: background 0.3s, text-indent 0.3s;
    -moz-transition: background 0.3s, text-indent 0.3s;
    -o-transition: background 0.3s, text-indent 0.3s;
    transition: background 0.3s, text-indent 0.3s;
    text-indent: 27px;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
}

.onoff label:after {
    content: 'NO';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    color: #fff;
    font-family: 'Maven Pro', sans-serif;
    z-index: 1;
}

.onoff label:before {
    content: '';
    width: 20px;
    height: 28px;
    border-radius: 3px;
    background: #bdbdbdd6;
    position: absolute;
    z-index: 2;
    top: 1px;
    left: 1px;
    display: block;
    font-family: 'Maven Pro', sans-serif;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.onoff input:checked + label {
    background: #000000;
    text-indent: 8px;
}

.onoff input:checked + label:after {
    content: 'YES';
    color: #ffffff;
}

.onoff input:checked + label:before {
    left: 39px;
}

input[type=checkbox], input[type=radio] {
    margin-left: 40px;
    font-family: 'Sunflower', sans-serif;
}

.table-hover > tbody > tr:hover {
    background-color: #f1030ca1;
    transition: all .5s;
}

.btn-data {
    width: 100%;
    text-align: center;
    margin: 40px auto;
}

.frm-btn {
    padding: 7px 37px;
    font-size: 20px;
    border: none;
    background: #D90368;
    color: #fff;
    border-radius: 5px;
    transition: all .5s;
    font-family: 'Sunflower', sans-serif;
}

.frm-btn:hover {
    padding: 7px 37px;
    font-size: 20px;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
}
.b-details li:last-child {
    border: none;
}
#myInput {
    font-family: inherit;
    font-size: inherit;
    height: 36px;
    line-height: inherit;
    margin-top: -8px;
    color: #000;
}


/*teacher panel page*/
.teacher-body {
    background: #1d335d;
    padding-top: 80px;
}
.tr-panel-left {
    background: #eaeaeafa;
    margin-top: -20px;
    min-height: 100vh;
    margin-left: -30px;
    position: fixed;
    padding-top: 7vh;
}

.tr-lf-img img {
    max-width: 150px;
}
.tr-lf-img h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Sunflower', sans-serif;
}
.tr-lf-details {
    text-align: left;
    padding-left: 30px;
    padding-right: 40px;
    padding-top: 30px;

}
.tr-panel-rt-tl {
    margin-bottom: 30px;
}
.tr-lf-details ul li {
    list-style: square;
    font-size: 18px;
    font-family: 'Maven Pro', sans-serif;
}
.tr-panel-rt {
    color: #fff;
    padding: 10px 40px 60px 40px;
}
.tr-panel-rt h2 {
font-family: 'Maven Pro', sans-serif;
}
.tr-subject {

    min-height: 250px;
    background: #fff;
    color: #000;
    padding: 30px 10px;
    border-radius: 5px;
    margin-top: 38px;
    margin-right: 30px;
}
.tr-subject ul li {
    font-size: 18px;
}
.tr-subject ul {
    margin-bottom: 25px;
    margin-top: 25px;
}
.tr-subject i.fas.fa-book {
    font-size: 40px;
}
.tr-subject a {
    padding: 10px 20px;
    border: none;
    transition: all .5s;
    color: #fff;
    text-decoration: none;
    background: #1d335d;
    border-radius: 5px;
    font-family: 'Maven Pro', sans-serif;

}
.tr-subject a:hover {
     padding: 10px 20px;
    border: 2px solid #000;
    transition: all .5s;
    color: #000000;
    text-decoration: none;
    background: none;

}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 100vh;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}
.tr-pnl-mobile {
    display: none;
}
.tr-pnl-mobile {
    background: #fff;
    min-height: 100vh;
    width: 100%;
    z-index: 11;
}
.btn-info {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
    transition: all .5s;
    margin-top: 20px;
    margin-left: 20px;
}
.btn-info:hover {
    color: #31b0d5;
    background-color: #fff;
    border: 1px solid #31b0d5;
}
.form-control option {
    background: #7d797a80;
}

/*add student page*/
.add-student-body {
    background: #1d335d;
    color: #fff;
    padding-top: 60px;
}
.add-student {
    padding-top: 40px;
    padding-bottom: 40px;
}
.form-group {
    margin-bottom: 25px;
}
.form-control {
    height: 45px;
}
.form__group--radio,
.form-group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
}

