@media only screen and (min-width: 992px) {
    /*start main page*/
    .main-mobile {
        display: none;
    }

    /*end mani page*/

}

/* Extra small devices (phones, 1000px and down) */
@media only screen and (max-width: 991px) {
    /*start main page*/
    .mb-hidden {
        display: none;
    }

    .index-body {
        background: #051d4ce6;
    }

    .main-top {
        padding-top: 85px;
    }

    .main-top img {
        max-width: 150px;
    }

    .main-section {
        padding: 0;

    }

    .login-text h3 {
        font-size: 20px;
        color: #fff;
    }

    .main-bottom p {
        padding-left: 44px;
        padding-right: 44px;
        padding-bottom: 50px;
    }

    .login-text h3 {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*end main page*/
    /*teacher panel*/
    .tr-panel-left {
        display: none;
    }

    .tr-subject {
        margin-right: 0;
    }

    .tr-panel-rt {
        color: #fff;
        padding: 10px 20px 60px 20px;
    }
    .tr-pnl-mobile {
        display: block;
    }
}

@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        padding-left: 5px;
        padding-right: 5px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: none;
    }
}

